body {
  color: #555;
  text-align: center;

  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:vistited {
  color: #555;
}

#intro {
  padding: 100px 0 100px;
  color: white;
  background: #F89F39;
}

#intro div {
  font-size: 3em;
  margin-top: -200px;
  font-family: 'Pacifico', cursive;
}

#people {
  padding: 10px 0 50px;
  margin: 50px;
  background: white;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5em;
}

#people span {
  display: inline-block;
  list-style: none;
  padding: 16px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 20px;
}

#faq {
  padding: 0 200px;
  text-align: left;
  font-size: 1.4em;
}

#faq h3 {
  font-family: 'Bree Serif', sans-serif;
}

#faq a {
  color: white;
  background: #F89F39;
  padding: 2px 4px;
}

#map {
  clear: both;
  padding: 0 200px;
}

#twitter {
  margin: 120px 200px;
}

#social {
  margin: 100px 200px;
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-size: 2.0em;
}

#social div {
  border: 2px solid black;
}

#social a {
  margin: 5px;
  color: #333;
  font-size: 1.7em;
}

#gamecollectives {
  margin: 20px;
}

#gamecollectives a {
  background: black;
  color:white;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Bree Serif', sans-serif;
}